html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #f8fbff;
    font-family: 'Montserrat', sans-serif;
}

/* Common Style */
a {
    font-weight: 500;
}
.form-group {
    margin-bottom: 10px;
}

.form-control:focus {
    box-shadow: 0 0 4px rgb(81 32 188 / 25%);
    border-color: #5120bc;
}

.btn-primary {
    background: linear-gradient(90deg, rgb(81, 32, 188) 0%, rgb(255, 95, 175) 100%);
    color: #fff;
    border-color: #5120bc;

    &:hover {
        background: #5120bc;
    }

    &:focus {
        box-shadow: 0 0 4px rgb(81 32 188 / 25%);
    }
    a {
        color: #fff;
        text-decoration: none;
    }
}
.btn-primary:active:focus {
    box-shadow: none;
}
.btn-back {
    background: #fff;
    color: #5120bc;
    border: 2px solid #5120bc;

    &:hover {
        background: #5120bc;
        color: #fff;
    }

    &:focus {
        box-shadow: 0 0 4px rgb(81 32 188 / 25%);
    }
}

.btn-back:active:focus {
    box-shadow: none;
}
table.table {
    font-size: 14px;

    thead {
        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #5120bc;
            color: #fff;
            border: 1px solid #ddd;
            padding: 8px;
        }
    }

    tbody {
        tr:nth-child(even) {
            background-color: rgb(81 32 188 / 3%);
        }

        tr:hover {
            background-color: rgb(81 32 188 / 4%);
        }

        td {
            border: 1px solid #ddd;
            padding: 8px;
        }
    }
}

/* Login Page */
body.login-container {
    margin: 0;
    padding: 0;
    background: url(/img/login-bg.jpg);
    background-size: cover;
    background-position: center;

    .loginbox {
        width: 380px;
        height: auto;
        background: #fff;
        color: #5120bc;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        padding: 70px 30px 30px 30px;
        border-radius: 5px;
        box-shadow: 0px 0 15px rgb(1 41 112 / 50%);
    }

    .loginbox h2 {
        font-weight: bold;
        text-align: center;
        font-size: 22px;
        color: #fff;
        position: absolute;
        top: -120px;
        text-align: center;
        left: calc(50% - 55px);
        background: #ff5faf;
        padding: 10px 20px;
        border-radius: 25px;
    }

    h1 {
        font-weight: bold;
        text-align: center;
        font-size: 22px;
    }

    .Logo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        background: #fff;
        left: calc(50% - 50px);
        border: 8px solid #5120bc;
    }

    .Logo-name {
        width: 100%;
        padding: 0 20px 20px 20px;
        height: auto;
    }
}

/* Layout Page */
header {
    background: linear-gradient(90deg, rgba(81,32,188,1) 0%, rgba(255,95,175,1) 100%);
    color: #fff;

    nav.navbar {
        padding: 0;

        a.navbar-brand {
            background: #fff;
            padding: 0 10px;

            img {
                width: 250px;
                padding: 5px 0;
            }
        }
    }

    .navbar-nav.account-info {
        a {
            color: #fff;
        }

        .nav-item {
            button {
                color: #fff;

                &:focus {
                    box-shadow: none;
                }
            }
        }
    }

    ul.navbar-nav.menu-nav {
        a.nav-link {
            color: #fff;
            margin-left: 6px;
            background: rgb(255 255 255 / 15%);
            border-radius: 4px;

            &:hover {
                background: #fff;
                color: #5120bc;
            }
        }
    }
}
.container-fluid.body-container {
    padding-left: 20px;
    padding-right: 20px;

    main.main {
        margin-bottom: 15px;
        border-radius: 4px;
        padding: 20px;
        background: #fff;
        box-shadow: 0px 0 6px 5px rgb(209 209 209 / 32%);

        h1 {
            font-size: 20px;
            font-weight: bold;
            color: #5120bc;
        }

        .head {
            font-size: 38px;
            font-weight: bold;
            color: #5120bc;
        }

        .sub-text {
            font-size: 18px;
            font-weight: bold;
            color: #ff5faf;
        }

        p {
            margin-top: 15px;
            float: right;

            a {
                background: linear-gradient(90deg, rgb(81, 32, 188) 0%, rgb(255, 95, 175) 100%);
                color: #fff;
                padding: 10px 15px;
                border-radius: 4px;
                text-decoration: none;

                &:hover {
                    background: #5120bc;
                }
            }
        }
    }
}

/* Footer */
footer.footer {
    text-align: center;
    border-top: 1px solid #cfcadb;
    color: #212529;
    font-size: 14px;

    a {
        color: #5120bc;
    }
}

/* Page UI */
.page-head {
    font-size: 20px;
    font-weight: bold;
    color: #5120bc;
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 15px;

    i {
        color: #ff5faf;
        margin-right: 4px;
    }
}

/* Payment Page */
.input-group {
    .input-icon {
        display: inline-block;
        position: absolute;
        width: 1rem;
        height: 1rem;
        padding: 0.75rem 0rem;
        right: 1rem;
        z-index: 1;
        color: #5120bc;
    }
}
.payment-set {
    border: 2px dashed #5120bc;
    padding: 10px;
}
