@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="head">Welcome - University Portal</div>
    <div class="sub-text">With the right tools, you can accomplish more in less time</div>
    <img src="~/img/dashboard.svg" class="img-fluid">
</div>
