@model UniversityPortal.Models.PaymentViewModel

@{
    ViewData["Title"] = "AddPayment";
}

<h1>AddPayment</h1>

<div class="row">
    <div class="col-md-4">
        <h4>Payment Options: Card(Debit Card Only)</h4>
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for=@Model.FeesType />
                <input type="hidden" asp-for=@Model.Sem />
                <input type="hidden" asp-for=@Model.Year />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardNo" class="control-label"></label>
                <input asp-for="CardNo" class="form-control" maxlength="16" />
                <span asp-validation-for="CardNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CVV" class="control-label"></label>
                <input asp-for="CVV" class="form-control" maxlength="3" />
                <span asp-validation-for="CVV" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Pay Now" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}