@model UniversityPortal.Models.StudentViewModel
@{
    ViewData["Title"] = "Student Certificate";
}

<div class="page-head"><i class="fa-solid fa-graduation-cap"></i> Student Certificate</div>

@if (Model.IsCompleted)
{ 
    <div class="row mx-2">
        <div class="col-md-3">
            <a class="nav-link btn-primary" asp-area="" target="_blank" asp-controller="StudentExam" asp-action="ViewDegreeCertificate">Degree Certificate</a>
        </div>
        <div class="col-md-3">
            <a class="nav-link btn-primary" asp-area="" target="_blank" asp-controller="StudentExam" asp-action="ViewProvisionalCertificate">Provisional Certificate</a>
        </div>
    </div>
}
else
{
    <div class="mt-2 mx-2">Amount is pending. Please pay all the fees.</div>
}