@{
    ViewData["Title"] = "Student Certificate";
}

<h1>Student Certificate</h1>

<li class="nav-item">
    <a class="nav-link" asp-area="" target="_blank" asp-controller="StudentExam" asp-action="ViewDegreeCertificate">Degree Certificate</a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="" target="_blank" asp-controller="StudentExam" asp-action="ViewProvisionalCertificate">Provisional Certificate</a>
</li>